[Unit]
Description=IPFS daemon
After=network.target

[Service]
Type=notify
User=rddl
Group=rddl
StateDirectory=ipfs
TimeoutStartSec=10800
LimitNOFILE={{ ipfs_fd_max }}
MemorySwapMax=0
Environment="IPFS_FD_MAX={{ ipfs_fd_max}}"
ExecStart=/usr/local/bin/ipfs daemon 

Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target