## tendermint.service
[Unit]
Description=Tendermint. Byzantine-fault tolerant state machine replication.
Documentation=https://tendermint.readthedocs.io/en/master/

[Service]
Restart=always
ExecStart=/usr/local/bin/tendermint node
WorkingDirectory=/home/rddl
User=rddl
Group=rddl

[Install]
WantedBy=multi-user.target